<footer>
    <div class="body__back"></div>

    <div class="foot">
        <div class="foot__max">
            <img src="assets/img/logo_blanco.png" class="foot__logo">
            <div class="foot__grid">
                <div>
                    <p class="foot__info">Cra. 17 # 89 - 31 <br><br>
                        Bogotá, Colombia
                        <br><br>
                        info@centrocomercial.com
                        <br><br>
                        (1) 5280663</p>
                </div>
                <div class="foot__redes">
                    <h4 class="foot__text--color1">Síguenos</h4><br>
                    <a href="#" class="foot__socialcircle icon-facebook"></a>
                    <a href="#" class="foot__socialcircle icon-twitter"></a>
                    <a href="#" class="foot__socialcircle icon-instagram"></a>
                    <a href="#" class="foot__socialcircle icon-youtube"></a>
                </div>
                <div class="foot__company">
                    <h4 class="foot__text--color1">Compañía</h4><br>
                    <ul>
                        <li><a href="lista-de-almacenes.html" class="foot__text--color2">Tiendas</a></li> <br>
                        <li><a href="facturas.html" class="foot__text--color2">Facturas</a></li><br>
                        <li><a href="contacto.html" class="foot__text--color2">Contáctenos</a></li>
                    </ul>
                </div>
                <div class="foot__news">
                    <h4 class="foot__text--color1">Recibe las Últimas Noticias del Centro Comercial</h4>
                    <div class="foot__email">
                    <form action="">
                        <input type="email" class="foot__newsemail" name="correo" placeholder="Correo electrónico"><button type="submit" class="icon-ctrl foot__button"></button>
                    </form>
                    </div>
                </div>
                <div class="foot__servicio">
                    <p class="foot__copy foot__text--color1">Centro Comercial © 2020 / Todos los derechos reservados</p>
                    <div class="foot__serviciotext">
                        <h4 class=" foot__text--color1">Un servicio de:</h4>
                        <img src="assets/img/codelabs.png" class="foot__servicioimg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>