<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<body id="body">

    <%- include('../layout/header') %>

    <div class="cinema">
        <div class="prom__back">
            <div class="cinema__margin">
                <div class="cinema__redes">
                    <a href="eventos.html" class="cinema__redeslink News__buttongreen"><span class="icon-ctrl cinema__redesarrow"></span>Volver</a>
                    <div>
                        <p class="cinema__redes--color">Compartir: <span class="icon-facebook cinema__redesmargin home__flex--colorGreen"></span> <span class="icon-twitter home__flex--colorGreen cinema__redesmargin"></span></p>
                    </div>
                </div>
    
                <div class="event__flex">
                    <img src="assets/img/evento1.png" class="event__img">
                    <div class="event__margin">
                        <p class="home__flex--colorGreen cinema__titlejust"><b>Adidas Brand Sale. Todos los productos al -50%</b></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <div class="event__flexgrid">
                            <div class="event__flexsmall">
                                <img src="assets/img/calendario.png" class="event__fleximg">
                                <p class="event__flexmargin"><b>Fecha:</b><br>25 de Mayo, 2018</p>
                            </div>
                            <div class="event__flexsmall event__flexsmalllast">
                                <img src="assets/img/ubicacion.png" class="event__fleximg">
                                <p class="event__flexmargin"><b>Lugar:</b><br>Centro de convenciones, Centro Comercial</p>
                            </div>
                            <div class="event__flexsmall">
                                <img src="assets/img/reloj.png" class="event__fleximg">
                                <p class="event__flexmargin"><b>Hora:</b><br>8 am - 7 pm</p>
                            </div>
                        </div>
                        <p class="prom__flextext">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="quit">
            <div class="cinema__margin">
                <div class="cinema__content">
                    <h2 class="News__titlebig home__flex--colorGreen">Otros Eventos</h2><br>
                    <div class="cinema__grid">
                        <div class="home__pad">
                            <a href="evento-sonria.html" class="home__events home__news">
                                <img src="assets/img/evento1.png" class="home__eventsimg">
                                <div class="home__eventsmargin">
                                    <p><b>04 </b><span class="home__news--colorGr">Mayo</span></p>
                                    <p class="home__flex--colorGreen"><b>Stand-up Comedy Nigth con Ricardo Quevedo</b></p>
                                </div>
                            </a>
                        </div>
                        <div class="home__pad">
                            <a href="evento-sonria.html" class="home__events home__news">
                                <img src="assets/img/evento1.png" class="home__eventsimg">
                                <div class="home__eventsmargin">
                                    <p><b>04 </b><span class="home__news--colorGr">Mayo</span></p>
                                    <p class="home__flex--colorGreen"><b>Stand-up Comedy Nigth con Ricardo Quevedo</b></p>
                                </div>
                            </a>
                        </div>
                        <div class="home__pad">
                            <a href="evento-sonria.html" class="home__events home__news">
                                <img src="assets/img/evento1.png" class="home__eventsimg">
                                <div class="home__eventsmargin">
                                    <p><b>04 </b><span class="home__news--colorGr">Mayo</span></p>
                                    <p class="home__flex--colorGreen"><b>Stand-up Comedy Nigth con Ricardo Quevedo</b></p>
                                </div>
                            </a>
                        </div>
                        <div class="home__pad">
                            <a href="evento-sonria.html" class="home__events home__news">
                                <img src="assets/img/evento1.png" class="home__eventsimg">
                                <div class="home__eventsmargin">
                                    <p><b>04 </b><span class="home__news--colorGr">Mayo</span></p>
                                    <p class="home__flex--colorGreen"><b>Stand-up Comedy Nigth con Ricardo Quevedo</b></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br><br><br><br><br>
        </div>
    </div>

    <%- include('../layout/footer') %> 

    <%- include('../partials/scripts') %>
    
</body>
</html>