<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<body id="body">
    
    <%- include('../layout/header') %> 

    <div class="We">
        <div class="We__image">
            <div class="We__color">
                <p class="cinema__title">QUIÉNES SOMOS</p>
                <div class="We__flex">
                    <div class="We__img">
                        <img src="assets/img/logo-Nosotros.png">
                    </div>
                    <div class="We__text">
                        <p class="home__flex--colorWhite">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br><br>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="We__addres">
                        <p class="home__flex--colorWhite"><b>Av. Boyacá # 80 - 94 <br> Bogotá, Colombia<br><br>
                        servicioalcliente@titanplaza.com<br><br>
                        319 450 2885</b></p><br>
                        <div class="">
                            <a href="#" class="We__circle icon-facebook"></a>
                            <a href="#" class="We__circle icon-twitter"></a>
                            <a href="#" class="We__circle icon-instagram"></a>
                            <a href="#" class="We__circle icon-youtube"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="We__content">
            <div class="We__center">
                <img src="assets/img/nosotros1.png" class="We__contentimg">
                <div class="We__contentflex">
                    <p class="We__contenttext"><span class="We__contenttitle">MISIÓN</span><br><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br><br>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <img src="assets/img/nosotros2.png" class="We__contentfleximg">
                </div>
                <div class="We__contentflex">
                    <img src="assets/img/nosotros3.png" class="We__contentfleximg">
                    <p class="We__contenttext"><span class="We__contenttitle">VISIÓN</span><br><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br><br>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </div>
        <div class="We__grid We__pad We__gridrow">
            <div>
                <p class="We__contenttitle">MÁS INFORMACIÓN</p>
                <a href="" class="We__contentlink">Términos y Condiciones</a><br>
                <a href="" class="We__contentlink">Política de Datos</a>
            </div>
            <div>
                <p class="We__contenttitle">¿NECESITAS AYUDA?</p>
                <p>Horarios de domingo a domingo:</p>
                <div class="We__grid">
                    <p><b>Centro comercial:</b><br>8:30 a.m. - 10:00 p.m.</p>
                    <p><b>Locales de comidas:</b><br>11:00 a.m.</p>
                    <p><b>Locales comerciales:</b><br>10:00 a.m. - 9:00 p.m.<br><span class="We__contenttextsmall">(Con algunas variaciones en Falabella, Jumbo, Panamericana, Cine Colombia)</span></p>
                    <p><b>Parqueadero:</b><br>8:30 a.m.</p> 
                </div>
                <a href="" class="We__contentlink">Contactanos</a>
            </div>
        </div>
    </div>

    <%- include('../layout/footer') %> 

    <%- include('../partials/scripts') %>
    
</body>
</html>