<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<body id="body">

    <%- include('../layout/header') %>

    <div class="cinema">
        <div class="We__image">
            <div class="prom__color">
                <p class="bill__title home__flex--colorWhite cinema__title">PROMOCIONES</p>
            </div>
        </div>
        <div class="prom__sin prom">
            <img src="assets/img/sin-prom.png">
            <p class="prom__sintext">No hay promociones disponibles en este momento.</p>
        </div>
    </div>

    <%- include('../layout/footer') %> 

    <%- include('../partials/scripts') %>
    
</body>
</html>