<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<body id="body">
    
    <%- include('../layout/header') %>

    <div class="bill">
        <p class="bill__title"><b>PERFIL</b></p>
        <div class="bill__max">
            <div class="bill__maxback">
                <a href="factura.html"><span class="icon-ctrl bill__maxctrl"></span>Volver</a>
            </div>
            <div class="bill__maxmore">
                <p><b>Mis Facturas</b></p>
                <button onclick="addimg()" class="bill__maxbutton bill__maxbutton--res"><span class="icon-camera">   </span>Agregar Factura</button>
            </div>
            <div class="bill__maxgrid">
                <div class="bill__maxcenter">
                    <img src="assets/img/sin-facturas.png">
                    <p>No hay facturas disponibles en el catálogo disponibles en este momento.</p>
                    <button onclick="addimg()" class="bill__maxbutton"><span class="icon-camera">   </span>Agregar Factura</button>
                </div>
            </div>
        </div>
    </div>

    <%- include('../layout/footer') %> 

    <%- include('../partials/scripts') %>
    
</body>
</html>