<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<body id="body">
    <%- include('../layout/header') %>

    <div class="shop">
        <div class="shop__back">
            <div class="shop__start shop__max">
                <img src="assets/img/logoadidas.png">
            </div>
        </div>
        <div class="shop__max">
            <div class="shop__grid">
                <div>
                    <h2 class="shop__title">Adidas</h2>
                    <p>Deporte, Vestuario, Calzado </p>
                </div>
                <div class="shop__social shop__social--justify-content-between">
                    <div class="shop__social">
                        <div class="icon-location shop__circle shop__circle--CV"></div>
                        <a href="#"><b>Ver en Mapa</b></a>
                        <div class="icon-heart shop__circle shop__circle--CV"></div>
                        <a href="#"><b>Agregar a Favoritos</b></a>
                    </div>
                    <div class="shop__social--net">
                        <a href="#" class="icon-facebook shop__circle shop__circle--CB shop__circle--small"></a>
                        <a href="#" class="icon-twitter shop__circle shop__circle--CLB shop__circle--small"></a>
                    </div>
                </div>
            </div>
            <hr class="shop__margin"> 
            <div class="shop__grid">
                <div>
                    <h3 class="shop__subtitle"><b>Descripción</b></h3>
                    <p class="shop__des">Adidas es una compañía multinacional alemana fundada en 1949 dedicada a la fabricación de calzado, ropa deportiva y otros productos relacionados con el deporte y la moda (bolsos, camisas, relojes, anteojos, etc.), y patrocinadora de eventos y figuras deportivas a nivel mundial.</p>
                </div>
                <div class="shop__slideshow">
                    <div class="shop__slideshowcont">
                        <div>
                            <img src="assets/img/adidas.png" class="shop__slideshowimg">
                        </div>
                        <div>
                            <img src="assets/img/slider-adidas.jpg" class="shop__slideshowimg">
                        </div>
                    </div>
                    <a class="shop__slideshowprev">&#10094;</a>
                    <a class="shop__slideshownext">&#10095;</a>
                </div>
                <div class="shop__info">
                    <h3 class="shop__subtitle"><b>Información del Almacen</b></h3>
                    <div class="shop__infogrid">
                        <div class="shop__social">
                            <div class="icon-location shop__circle shop__circle--CG"></div>
                            <div>
                                <p><b>Local</b><br>Alfiles, 1-49</p>
                            </div>
                        </div>
                        <div class="shop__social">
                            <div class="icon-web shop__circle  shop__circle--CG"></div>       
                            <div>
                                <p><b>Página Web</b><br><a href="#">www.14ochomiles.com</a></p>
                            </div>
                        </div>
                        <div class="shop__social">
                            <div class="icon-phone shop__circle  shop__circle--CG"></div>
                            <div>
                                <p><b>Teléfono</b><br>2211218</p>
                            </div>
                        </div>
                        <div class="shop__social">
                            <div class="icon-email shop__circle shop__circle--CG shop__circle--CGb"></div>
                            <div>
                                <p><b>Correo Electrónico</b><br>ge@14ochomiles.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shop__red">
                    <h3 class="shop__subtitle shop__subtitle--MB"><b>Redes</b></h3>
                    <a href="#" class="icon-facebook shop__circle shop__circle--CB"></a>
                    <a href="#" class="icon-pin shop__circle shop__circle--CR shop__circle--CRb"></a>
                    <a href="#" class="icon-youtube shop__circle shop__circle--CR"></a>
                    <a href="#" class="icon-twitter shop__circle shop__circle--CLB"></a>
                </div>
            </div>
            <div class="shop__time">
                <h3 class="shop__subtitle"><b>Horario</b></h2>
                <div class="shop__social shop__social--block">
                    <div><p><b>Lunes - Viernes</b><br><br>9:00 am - 10:00 pm</p></div>
                    <div><p><b>Sábado</b><br><br>9:00 am - 10:00 pm</p></div>
                    <div><p><b>Domigos y Festivos</b><br><br>9:00 am - 10:00 pm</p></div>
                </div>
            </div>
        </div>
    </div>
    
    <%- include('../layout/footer') %> 

    <%- include('../partials/scripts') %>
    
</body>
</html>