@media screen and (max-width: 1525px) {

    .head {
        margin-top: -77px;
        height: 77px;

        &__movil {
            height: auto;
            border-radius: 10px;
        }
    }

    .head__man-se {
        display: none;
    } 
    
    .head__menu {
        display: none;
        background: white;
        overflow: auto;
        height: auto;
        padding-bottom: 60px;
        border-radius: 10px;
        width: 100%;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns:0 repeat(4, 1fr);
        grid-auto-flow: column;
        row-gap: 15px;
        align-items: center;
        justify-items: left;
        max-width: 1000px;
        margin: 37px auto 0;
        padding-left: 10px;
    

        &option {
            margin: 0;

            &--M0 {
                grid-row: 1/2;
            }
        }
    }

    .head__logo {
        position: absolute;
        top: 10px;
    }

    .head__menushow {
        display: grid;
    }
    
    .head__menuman {
        display: block;
    }

    .head__btn {
        position: relative;
        right: 0;
    }

    .head__menuicon {
        display: block;
        text-align: center;
        padding: 10px;
        grid-column: 3/4;
    }
}

@media screen and (max-width: 800px) {
    .head__menu {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(13, 1fr);
        padding: 0 20px;
        max-width: 500px;
    }

    .head__menugrid {
        display: block;
        align-items: flex-start;
    }

    .head__menuman {
        display: none;
    }

    .head__menutime, .head__menusocial {
        display: block;
    }

    .head__menutime {
        justify-self: left;
    }

    .head__menusocial {
        justify-self: center;
        border-top: solid 1px #F4EBF4;
        padding-top: 40px;
        grid-row: 12/14;
        width: 100%;
        padding-bottom: 20px;
    }

    .head__btn {
        position: absolute;
        top: 0;
        right: 50%;
        transform: translateX(50%);
        width: 95%;
        margin: 0;
    }

    .head__menuoption--M0 {
        grid-row: 2/3;
    }
}

@media screen and (max-width: 800px) {
   
    .store__filtros {
        display: none;
        width: 90%;
        justify-self: Add;
        max-width: 300px;
    }

    .show_menu {
        display: block;
    }

    .store__menufiltro {
        display: flex;
        align-content: Add;
        justify-content: space-between;
    }

    .store__Add {
        display: grid;
    }

    .store__search {
        text-align: Add;
        padding: 0;
    }

    .store__grid {
        grid-template-columns: 1fr;
    }
}