@media screen and (max-width: 1525px) {

    .head {
        margin-top: -77px;
        height: 77px;

        &__movil {
            height: auto;
            border-radius:0 0 10px 10px;
        }
    }

    .head__man-se {
        display: none;
    } 
    
    .head__menu {
        display: none;
        text-align: left;
        background: white;
        padding-bottom: 40px;
        width: 100%;

        &grid{
            display: grid;
            width: 100%;
            max-width: 1000px;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(4, 1fr);
            grid-auto-flow: column;
            row-gap: 15px;
            align-items: center;
            justify-items: left;
            margin: 0 auto;
            padding-left: 10px;
            position: relative;
        }

        &option {
            margin: 0;
        }
    }

    .head__logo {
        position: relative;
        width: 140px;
    }

    .head__menushow {
        display: grid;
    }
    
    .head__menuman {
        display: block;
    }

    .head__btn {
        position: relative;
        right: 0;
    }

    .head__menuicon {
        display: block;
        text-align: center;
        padding: 10px;
        grid-column: 3/4;
        color: $cp;
        transition: ease all .3s;

        &:hover {
            color: #b14cb3;
        }
    }
}

@media screen and (max-width: 800px) {

    .head__menugrid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr) auto 1fr auto repeat(4,1fr) repeat(3, auto);
        padding: 0 20px;
        height: 100%;
        max-width: 500px;
    }

    .head__submenu {
        position: relative;
        background: none;
        padding: 0 15px 15px;

        &link {
            color: black;
            font-weight: bold;

            &:hover {
                color: $cp;
            }
    
        }
    }

    .head__logo {
        width: 110px;
        margin: 6px 15px;
    }

    .head__menuman {
        display: none;
    }

    .head__menutime, .head__menusocial {
        display: block;
    }

    .head__menutime {
        justify-self: left;
    }

    .head__menusocial {
        text-align: center;
        border-top: solid 1px #F4EBF4;
        padding-top: 40px;
        width: 100%;
        padding-bottom: 20px;
    }

    .head__btn {
        position: absolute;
        top: 0;
        right: 50%;
        transform: translateX(50%);
        width: 95%;
        margin: 0;
    }

    .head__menuoption--M0 {
        grid-row: 2/3;
    }

    .head__movil {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;
    }
}

@media screen and (max-width: 800px) {
   
    .store__filtros {
        display: none;
        width: 90%;
        justify-self: center;
        max-width: 300px;
    }

    .show_menu {
        display: block;
    }

    .store__menufiltro {
        display: flex;
        justify-content: space-between;
    }

    .store__search {
        text-align: center;
        padding: 0;
    }

    .store__grid {
        grid-template-columns: 1fr;
    }
}

#menu-icon {
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menu-icon input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menu-icon span {
  display: block;
  width: 20px;
  height: 2px;
  margin: 4px auto;
  position: relative;
  background: #333333;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menu-icon span:first-child {
  transform-origin: 0% 0%;
}

#menu-icon span:nth-last-child(2) {
  transform-origin: 50% 100%;
}

#menu-icon input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-6px, -8px);
  background: #232323;
}

#menu-icon input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menu-icon input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}