<a href="movil.html" class="bill__phonebox">
    <div class="bill__phoneview">
        <img src="assets/img/celular.png" class="bill__phoneimg">
        <div class="bill__phoneMA">
            <p><b class="bill__phonetext">iPhone 7 32GB Negro Mate</b><br><br>500 pts.</p>
        </div>
    </div>
</a>
            