<div id="check" class="modal">
    <div class="modal__pad">
        <div class="bill__modalcont">
            <div class="check">
                <div class="check__up">
                    <form>
                        <img src="assets/img/check.png">
                        <p class="check__upfont"><b>La factura ha sido cargada exitosamente.</b></p>
                        <p>Los puntos serán agregados a tu perfil una vez sea aprobado la factura.</p>
                        <button type="submit" class="check__btncp">Registrar otra Factura</button>
                    </form>
                </div>
                <button onclick="Close5()" class="check__btncp check__btnCan">Terminar</button>
            </div>
        </div>
        <span onclick="Close5()" class="close">&times;</span>
    </div>
</div>