<a href="evento-sonria.html" class="home__pad">
    <div class="home__events home__news">
        <img src="assets/img/evento1.png" class="home__eventsimg">
        <div class="home__eventsmargin">
            <p><b>04 </b><span class="home__news--colorGr">Mayo</span></p>
            <p class="home__flex--colorGreen"><b>Stand-up Comedy Nigth con Ricardo Quevedo</b></p>
            <p class="home__eventstext">Los mejores comediantes del mundo siempre disponen de una noche para presentar un show especial...</p>
        </div>
    </div>
</a>
<a href="evento-sonria.html" class="home__pad">
    <div class="home__events home__news">
        <img src="assets/img/evento2.png" class="home__eventsimg">
        <div class="home__eventsmargin">
            <p><b>16 </b><span class="home__news--colorGr">Mayo</span></p>
            <p class="home__flex--colorGreen"><b>Campeonato GAMER: Call of Duty</b></p>
            <p class="home__eventstext">El amor es un tema difícil y por eso asusta. A través de esta magnífica conferencia, purificarás el amor...</p>
        </div>
    </div>
</a>
<a href="evento-sonria.html" class="home__pad">
    <div class="home__events home__news">
        <img src="assets/img/evento3.png" class="home__eventsimg">
        <div class="home__eventsmargin">
            <p><b>16 </b><span class="home__news--colorGr">Mayo</span></p>
            <p class="home__flex--colorGreen"><b>Mujeres a la Plancha</b></p>
            <p class="home__eventstext">Con Verónica Orózco, Diana Ángel, Maía, Adriana Bottina y Carolina Gaitán, más una gran banda de...</p>
        </div>
    </div>
</a>