<div class="bill__maxgrid">
    <a class="bill__maxcont" onclick="opensale(1)"|    |>
        <img src="assets/img/factura.png" class="bill__maxcontimg">
        <div class="bill__maxcontmargin">
            <p class="color--Mo">Americana de Colchones</p>
            <p>$ 150.000 - 150 pts.</p>
            <p class="color--Gr">01 de Septiembre, 2018 </p>
            <p class="color--Na">En Proceso</p>
        </div>
    </a>
    <a class="bill__maxcont" onclick="opensale(2)">
        <img src="assets/img/factura.png" class="bill__maxcontimg">
        <div class="bill__maxcontmargin">
            <p class="color--Mo">Americana de Colchones</p>
            <p>$ 150.000 - 150 pts.</p>
            <p class="color--Gr">01 de Septiembre, 2018 </p>
            <p class="color--Ve">Aprovado</p>
        </div>
    </a>
    <a class="bill__maxcont" onclick="opensale(3)">
        <img src="assets/img/factura.png" class="bill__maxcontimg">
        <div class="bill__maxcontmargin">
            <p class="color--Mo">Americana de Colchones</p>
            <p>$ 150.000 - 150 pts.</p>
            <p class="color--Gr">01 de Septiembre, 2018 </p>
            <p class="color--Ro">Rechazado</p>
        </div>
    </a>
    <a class="bill__maxcont" onclick="opensale(4)">
        <img src="assets/img/factura.png" class="bill__maxcontimg">
        <div class="bill__maxcontmargin">
            <p class="color--Mo">Americana de Colchones</p>
            <p>$ 150.000 - 150 pts.</p>
            <p class="color--Gr">01 de Septiembre, 2018 </p>
            <p class="color--Ve">Aprovado</p>
        </div>
    </a>
</div>