<div id="Picture" class="modal">
    <div class="modal__pad">
        <div class="bill__modalcont">
            <form action="/file-upload" class="dropzone drz" id="myAwesomeDropzone">
               <div id="my">
                <img src="assets/img/nube.png">
                <p class="dropzonetext"><b>Arrastra una imagen de tu factura para subirla.</b></p>
                <p class="dropzonetext">o haz clic en el boton de examinar </p>
                <p class="dropzoneview"><b>Haz clic en el boton de examinar para subir una imágen.</b></p>
                <div class="dz-default dz-message">
                    <button class="dz-button" type="button"><span class="icon-folder-open">   </span>Examinar</button>
                </div>
               </div>
            </form>
            <p class="picture__foot">Solo imágenes en formatos JPG y PNG. Maximo 5MB</p>
        </div>
        <span onclick="Close2()" class="close">&times;</span> 
    </div>
</div>