<div id="sale" class="modal">
    <div class="modal__pad modal__padsale">
        <div class="bill__sale">
            <div class="bill__salegrid">
                <img src="assets/img/factura-2.png" class="bill__saleimg">
                <div class="bill__saleinfo">
                    <p><b>Almacen</b></p>
                    <p>Arturo Calle</p><br>
                    <p><b>Fecha</b></p>
                    <p>19 de julio, 2018</p><br>
                    <p><b>Valor</b></p>
                    <p>$150.000</p><br>
                    <p><b>Número de transacción</b></p>
                    <p>14562198931-1</p><br>
                    <p><b>Estado</b></p>
                    <p class="color--Na">En Proceso</p><br>
                </div>
            </div>
            <div class="bill__salegrid">
                <img src="assets/img/factura-2.png" class="bill__saleimg">
                <div class="bill__saleinfo">
                    <p><b>Almacen</b></p>
                    <p>Arturo Calle</p><br>
                    <p><b>Fecha</b></p>
                    <p>19 de julio, 2018</p><br>
                    <p><b>Valor</b></p>
                    <p>$150.000</p><br>
                    <p><b>Número de transacción</b></p>
                    <p>14562198931-1</p><br>
                    <p><b>Estado</b></p>
                    <p class="color--Ve">Aprobado</p><br>
                </div>
            </div>
            <div class="bill__salegrid">
                <img src="assets/img/factura-2.png" class="bill__saleimg">
                <div class="bill__saleinfo bill__saleinfotop">
                    <p><b>Almacen</b></p>
                    <p>Arturo Calle</p><br>
                    <p><b>Fecha</b></p>
                    <p>19 de julio, 2018</p><br>
                    <p><b>Valor</b></p>
                    <p>$150.000</p><br>
                    <p><b>Número de transacción</b></p>
                    <p>14562198931-1</p><br>
                    <p><b>Estado</b></p>
                    <p class="color--Ro">Rechazado</p><br>
                    <div class="bill__salerejected">
                        <p class="color--Ro"><b>Motivo de Rechazo</b></p>
                        <p class="color--Ro bill__saletext">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                </div>
            </div>
            <div class="bill__salegrid">
                <img src="assets/img/factura-2.png" class="bill__saleimg">
                <div class="bill__saleinfo">
                    <p><b>Almacen</b></p>
                    <p>Arturo Calle</p><br>
                    <p><b>Fecha</b></p>
                    <p>19 de julio, 2018</p><br>
                    <p><b>Valor</b></p>
                    <p>$150.000</p><br>
                    <p><b>Número de transacción</b></p>
                    <p>14562198931-1</p><br>
                    <p><b>Estado</b></p>
                    <p class="color--Ve">Aprobado</p><br>
                </div>
            </div>
            <span onclick="Close3()" class="close">&times;</span>
            <a id="prev" class="bill__saleprev icon-arrow-right2"></a>
            <a id="next" class="bill__salenext icon-arrow-right2"></a>
        </div>
    </div>
</div>