<a href="pelicula.html" class="home__pad">
    <img src="assets/img/peli1.png" class="home__movieimg">
    <p class="home__movietext">I Feel Pretty</p>
</a>
<a href="pelicula.html" class="home__pad">
    <img src="assets/img/peli2.png" class="home__movieimg">
    <p class="home__movietext">Deadpool 2</p>
</a>
<a href="pelicula.html" class="home__pad">
    <img src="assets/img/peli3.png" class="home__movieimg">
    <p class="home__movietext">Solo: A Star Wars Story

    </p>
</a>
<a href="pelicula.html" class="home__pad">
    <img src="assets/img/peli4.png" class="home__movieimg">
    <p class="home__movietext">Tully</p>
</a>