<a href="noticia-pool.html" class="News More">
    <img src="assets/img/koaj2.png" class="News__img">
    <div class="home__newsmargin">
        <p><b>04 </b><span class="home__news--colorGr">Mayo</span></p>
        <p class="home__flex--colorBlue"><b>Gran apertura del nuevo almacen KOAJ</b></p>
        <p class="home__newstext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut...</p>
    </div>
</a>

<a href="noticia-pool.html" class="News More">
    <img src="assets/img/koaj2.png" class="News__img">
    <div class="home__newsmargin">
        <p><b>04 </b><span class="home__news--colorGr">Mayo</span></p>
        <p class="home__flex--colorBlue"><b>Gran apertura del nuevo almacen KOAJ</b></p>
        <p class="home__newstext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut...</p>
    </div>
</a>
<a href="noticia-pool.html" class="News More">
    <img src="assets/img/koaj2.png" class="News__img">
    <div class="home__newsmargin">
        <p><b>04 </b><span class="home__news--colorGr">Mayo</span></p>
        <p class="home__flex--colorBlue"><b>Gran apertura del nuevo almacen KOAJ</b></p>
        <p class="home__newstext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut...</p>
    </div>
</a>
<a href="noticia-pool.html" class="News More">
    <img src="assets/img/koaj2.png" class="News__img">
    <div class="home__newsmargin">
        <p><b>04 </b><span class="home__news--colorGr">Mayo</span></p>
        <p class="home__flex--colorBlue"><b>Gran apertura del nuevo almacen KOAJ</b></p>
        <p class="home__newstext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut...</p>
    </div>
</a>
<div class="More">
    <br><br><br>
</div>
