<div class="bill__person">
    <div class="bill__personinfo">
        <img src="assets/img/perfil.png" class="bill__personinfoImg">
        <div class="bill__personinfoEma">
            <p><b>Andrea Cardozo</b></p>
            <p class="bill__personinfoLI">andrea.c@gmail.com</p>
        </div>
    </div>
    <div class="bill__personcont">
        <div class="">
            <p id="menu__info" onclick="menu__info()"><a href="factura.html"><b>Facturas y Puntos</b></a><span class="icon-arrow-right2 icon-arrow-right2right"></span><span class="icon-ctrl bill__personBTN"></span></p>
        </div>
        <div class="bill__personmenu" id="menuInfo">  
            <a href="mis-datos.html" onclick="moda()" class="bill__personoption">Mis Datos</a><br>
            <a href="cambiar-contraseña.html"class="bill__personoption">Cambiar Contraseña</a><br>
            <a href="favoritos.html"class="bill__personoption">Favoritos</a><br>
        </div>
    </div>
</div>