<a href="promo.html" class="home__pad">
    <div class="home__prom home__news">
        <img src="assets/img/promo1.png" class="home__eventsimg">
        <div class="home__prommargin">
            <p class="home__flex--colorRed"><b>Adidas Brand Sale. Todos los productos al -50%</b></p>
            <p>Pull&Bear</p>
        </div>
        <div class="home__promfoot">
            <p class="home__news--colorGr">Vence: 25 de Mayo, 2018</p>
        </div>
    </div>
</a>
<a href="promo.html" class="home__pad">
    <div class="home__prom home__news">
        <img src="assets/img/promo2.png" class="home__eventsimg">
        <div class="home__prommargin">
            <p class="home__flex--colorRed"><b>Adidas Brand Sale. Todos los productos al -50%</b></p>
            <p>Levis</p>
        </div>
        <div class="home__promfoot">
            <p class="home__news--colorGr">Vence: 25 de Mayo, 2018</p>
        </div>
    </div>
</a>
<a href="promo.html" class="home__pad">
    <div class="home__prom home__news">
        <img src="assets/img/promo3.png" class="home__eventsimg">
        <div class="home__prommargin">
            <p class="home__flex--colorRed"><b>Adidas Brand Sale. Todos los productos al -50%</b></p>
            <p>El Corral</p>
        </div>
        <div class="home__promfoot">
            <p class="home__news--colorGr">Vence: 25 de Mayo, 2018</p>
        </div>
    </div>
</a>
<a href="promo.html" class="home__pad">
    <div class="home__prom home__news">
        <img src="assets/img/promo4.png" class="home__eventsimg">
        <div class="home__prommargin">
            <p class="home__flex--colorRed"><b>Adidas Brand Sale. Todos los productos al -50%</b></p>
            <p>Zara</p>
        </div>
        <div class="home__promfoot">
            <p class="home__news--colorGr">Vence: 25 de Mayo, 2018</p>
        </div>
    </div>
</a>