<a href="servicio-bici.html">
    <div class="home__prom home__news service__border">
        <img src="assets/img/promo1.png" class="home__eventsimg">
        <div class="home__prommargin">
            <p class="service__boxtitle"><b>Nombre del servicio</b></p>
        </div>
    </div>
</a>
<a href="servicio-bici.html">
    <div class="home__prom home__news service__border">
        <img src="assets/img/promo2.png" class="home__eventsimg">
        <div class="home__prommargin">
            <p class="service__boxtitle"><b>Nombre del servicio</b></p>
        </div>
    </div>
</a>
<a href="servicio-bici.html">
    <div class="home__prom home__news service__border">
        <img src="assets/img/promo3.png" class="home__eventsimg">
        <div class="home__prommargin">
            <p class="service__boxtitle"><b>Nombre del servicio</b></p>
        </div>
    </div>
</a>
<a href="servicio-bici.html">
    <div class="home__prom home__news service__border">
        <img src="assets/img/promo4.png" class="home__eventsimg">
        <div class="home__prommargin">
            <p class="service__boxtitle"><b>Nombre del servicio</b></p>
        </div>
    </div>
</a>